// Typography
$font-size-small: 14px;
$font-size-base: 18px;
$font-size-md: 24px;
$font-size-md-alt: 26px;
$font-size-lg: 38px;
$font-size-xlg: 70px;

$font-default: unquote("Helvetica, Noto Sans, Georgia, Arial, serif");
$font-title: unquote("Helvetica, Noto Sans, Georgia, Arial, serif");
$text-color: #444444;