.validation {
	font-size: $font-size-small;
	margin-top: -15px;
	margin-bottom: 5px;
	display: block;

	&.validation-success {
		color: adjust-hue(map-get($colors,green-dark), -30deg);
	}

	&.validation-warning {
		color: map-get($colors, orange);
	}

	&.validation-danger {
		color: map-get($colors,red-dark);
	}

	&.validation-info {
		color: map-get($colors, blue);
	}
}
