@include responsive-cycler('no-border', 'border', 'none');

@include responsive-cycler('no-border-radius', 'border-radius', '0px');
@include responsive-cycler('no-border-top-left-radius', 'border-top-left-radius', '0px');
@include responsive-cycler('no-border-top-right-radius', 'border-top-right-radius', '0px');
@include responsive-cycler('no-border-bottom-left-radius', 'border-bottom-left-radius', '0px');
@include responsive-cycler('no-border-bottom-right-radius', 'border-bottom-right-radius', '0px');

.bordered {
	border-width: 8px;
	border-style: solid;
}

.thin-border {
	border-width: 1px;
	border-style: solid;
}

@each $color, $hex in $colors {
	.border-#{$color} { border-color: $hex !important; }
	.border-#{$color}-dark { border-color: darken($hex, 10%) !important; }
	.border-#{$color}-light { border-color: lighten($hex, 10%) !important; }
}

@each $color, $hex in $colors-alt {
	.border-#{$color} { border-color: $hex !important; }
}