.blur { filter: blur(10px); @include prefix-cycler('transition', '0.25s'); }

.cursor-pointer { cursor: pointer; }
.no-pointer-cascade { * { pointer-events: none; } }

.no-scroll { overflow: hidden; }
.no-overflow { overflow: hidden; }
.no-pointer { pointer-events: none; }

.disable-sel {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
}